<a href="https://colab.research.google.com/github/YinmiAlas/DS-Unit-2-Linear-Models/blob/master/LS_DS_213_Ridge_Regression_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 3*

---

# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

- [ ] Use a subset of the data where `BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'` and the sale price was more than 100 thousand and less than 2 million.
- [ ] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [ ] Do one-hot encoding of categorical features.
- [ ] Do feature selection with `SelectKBest`.
- [ ] Fit a ridge regression model with multiple features. Use the `normalize=True` parameter (or do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) beforehand â€”Â use the scaler's `fit_transform` method with the train set, and the scaler's `transform` method with the test set)
- [ ] Get mean absolute error for the test set.
- [ ] As always, commit your notebook to your fork of the GitHub repo.

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.


## Stretch Goals

Don't worry, you aren't expected to do all these stretch goals! These are just ideas to consider and choose from.

- [ ] Add your own stretch goal(s) !
- [ ] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [171]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [193]:
import pandas as pd
import pandas_profiling

# Read New York City property sales data
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

In [194]:
df.head(1)

   BOROUGH NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
0        1      CHELSEA  ...          0  01/01/2019

[1 rows x 21 columns]

In [195]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)
df.head(1)

  BOROUGH NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
0       1      CHELSEA  ...          0  01/01/2019

[1 rows x 21 columns]

In [196]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

In [197]:
df.head(1)

  BOROUGH NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
0       1        OTHER  ...          0  01/01/2019

[1 rows x 21 columns]

In [198]:
# subsetting data
df = df[df['BUILDING_CLASS_CATEGORY'] == '01 ONE FAMILY DWELLINGS']
df = df[df['SALE_PRICE'] >= 100000]
df = df[df['SALE_PRICE'] <= 1000000]
df.head(1)

   BOROUGH NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
44       3        OTHER  ...     550000  01/01/2019

[1 rows x 21 columns]

In [199]:
#splitting data
# adding datime index column to for a esay split
df['SALE_DATE'] = df['SALE_DATE'].apply(lambda x: pd.Timestamp(x).strftime('%Y-%m-%d'))
df['SALE_DATE'] = pd.to_datetime(df['SALE_DATE'])
df = df.set_index(df['SALE_DATE'])
df = df.sort_index()

sale_date_train = df['2019-01-01':'2019-03-31']

sale_date_test = df['2019-04-01':'2019-04-30']

sale_date_train.shape, sale_date_test.shape

((2316, 21), (590, 21))

In [202]:
# x matrices and y vectors
target = 'SALE_PRICE'
               
features = ['TOTAL_UNITS',	'LAND_SQUARE_FEET',	'GROSS_SQUARE_FEET',	'YEAR_BUILT', 'BUILDING_CLASS_AT_TIME_OF_SALE']

sale_date_train_x = sale_date_train[features]

sale_date_train_y = sale_date_train[target]

sale_date_test_x = sale_date_test[features]

sale_date_test_y = sale_date_test[target]

sale_date_train_x.shape, sale_date_test_y.shape

((2316, 5), (590,))

In [203]:
# one-hot-encoding
import category_encoders as ce 

categorical_encoder = ce.OneHotEncoder(use_cat_names=True)

sale_date_train_x = categorical_encoder.fit_transform(sale_date_train_x)
sale_date_test_x = categorical_encoder.transform(sale_date_test_x)

sale_date_train_x.head(2)

            TOTAL_UNITS  ...  BUILDING_CLASS_AT_TIME_OF_SALE_A3
SALE_DATE                ...
2019-01-01          1.0  ...                                  0
2019-01-01          1.0  ...                                  0

[2 rows x 836 columns]

In [229]:
#using selecting features with SelectKBest 
from sklearn.feature_selection import SelectKBest, f_regression

selecting_features = SelectKBest(k=10)

X_train_selected = selecting_features.fit_transform(sale_date_train_x, sale_date_train_y)
X_test_selected = selecting_features.transform(sale_date_test_x)

X_train_selected.shape, X_test_selected.shape

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning: divide by zero encountered in true_divide
  f = msb / msw

((2316, 10), (590, 10))

In [224]:
from sklearn.linear_model import Ridge
#alphas = [0.01, 0.1, 1.0, 10.0, 100.0]
ridge = Ridge(normalize=True)
ridge.fit(X_train_selected, sale_date_train_y)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None, normalize=True,
      random_state=None, solver='auto', tol=0.001)

In [225]:
from sklearn.metrics import mean_absolute_error

y_pred = ridge.predict(X_test_selected)
mae = mean_absolute_error(sale_date_test_y, y_pred)
mae
print(f'Test Mean Absolute Error: ${mae:,.0f} \n')

Test Mean Absolute Error: $157,732

In [230]:
for k in range(1, len(sale_date_train.columns)+1):
    print(f'{k} features')
    
    selector = SelectKBest(score_func=f_regression, k=k)
    X_train_selected = selecting_features.fit_transform(sale_date_train_x, sale_date_train_y)
    X_test_selected = selecting_features.transform(sale_date_test_x)

    ridge = Ridge(normalize=True)
    ridge.fit(X_train_selected, sale_date_train_y)
    y_pred = ridge.predict(X_test_selected)
    mae = mean_absolute_error(sale_date_test_y, y_pred)
    print(f'Test Mean Absolute Error: ${mae:,.0f} \n')

1 features
Test Mean Absolute Error: $157,556

2 features

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning: divide by zero encountered in true_divide
  f = msb / msw
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning: divide by zero encountered in true_divide
  f = msb / msw

Test Mean Absolute Error: $157,556

3 features
Test Mean Absolute Error: $157,556

4 features

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning: divide by zero encountered in true_divide
  f = msb / msw
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning: divide by zero encountered in true_divide
  f = msb / msw

Test Mean Absolute Error: $157,556

5 features
Test Mean Absolute Error: $157,556

6 features

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning: divide by zero encountered in true_divide
  f = msb / msw
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning: divide by zero encountered in true_divide
  f = msb / msw

Test Mean Absolute Error: $157,556

7 features
Test Mean Absolute Error: $157,556

8 features

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning: divide by zero encountered in true_divide
  f = msb / msw
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning: divide by zero encountered in true_divide
  f = msb / msw

Test Mean Absolute Error: $157,556

9 features
Test Mean Absolute Error: $157,556

10 features

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning: divide by zero encountered in true_divide
  f = msb / msw
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning: divide by zero encountered in true_divide
  f = msb / msw

Test Mean Absolute Error: $157,556

11 features
Test Mean Absolute Error: $157,556

12 features

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning: divide by zero encountered in true_divide
  f = msb / msw
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning: divide by zero encountered in true_divide
  f = msb / msw

Test Mean Absolute Error: $157,556

13 features
Test Mean Absolute Error: $157,556

14 features

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning: divide by zero encountered in true_divide
  f = msb / msw
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning: divide by zero encountered in true_divide
  f = msb / msw

Test Mean Absolute Error: $157,556

15 features
Test Mean Absolute Error: $157,556

16 features

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning: divide by zero encountered in true_divide
  f = msb / msw
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning: divide by zero encountered in true_divide
  f = msb / msw

Test Mean Absolute Error: $157,556

17 features
Test Mean Absolute Error: $157,556

18 features

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning: divide by zero encountered in true_divide
  f = msb / msw
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning: divide by zero encountered in true_divide
  f = msb / msw

Test Mean Absolute Error: $157,556

19 features
Test Mean Absolute Error: $157,556

20 features

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning: divide by zero encountered in true_divide
  f = msb / msw
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning: divide by zero encountered in true_divide
  f = msb / msw

Test Mean Absolute Error: $157,556

21 features
Test Mean Absolute Error: $157,556

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning: divide by zero encountered in true_divide
  f = msb / msw

#Hey TL sorry but i will need your help in this part i will stop my assigment here can you help me figuring out what i got this result? 
#Thanks.